// Consistent settings
$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$font-size: 100%; // Global default font size
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

// Fonts
$font-primary: "ProximaNova-Regular", sans-serif;
$font-primary-bold: "ProximaNova-Bold", sans-serif;

// Responsive breakpoints
$break-xsm: 380px;
$break-sm: 480px;
$break-md: 600px;
$break-lg: 800px;
$break-xlg: 1000px;

// Cool
$blue: #4834d4;
$bluegreen: #22a6b3;
$bluepurple: #686de0;
$darkpurple: #130f40;
$green: #6ab04c;
$lime: #badc58;
$teal: #7ed6df;

// Warm
$orange: #f0932b;
$pink: #ff7979;
$pinkpurple: #e056fd;
$purple: #be2edd;
$redpink: #eb4d4b;
$tang: #f9ca24;

// Gray Scale
$black: #111;
$blackgrey: #333;
$grey: #aaa;
$silver: #ddd;
$white: #fff;

$cc-1: #24d6dc;
$cc-2: #2ea1eb;
$cc-3: #7a7dd3;
$cc-4: #a0acbc;
$cc-5: #575c63;

// Project color variables
$color-primary: $cc-1;
$color-secondary: $cc-3;
$color-teritary: $tang;
$color-text: $blackgrey;

$color-danger: $redpink; // Bad color for errors, validation etc.
$color-success: $green; // Good color for success etc.
$color-info: $blue; // Good color for success etc.
$color-warning: $orange; // Good color for success etc.
$color-subtle: $grey; // Subtle color for subtle text
