/* Navigation - Fill*/
@-webkit-keyframes fill {
  0% {
    height: 1px;
    width: 0%;
  }
  50% {
    height: 1px;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

//Nav Keyframes
@keyframes slideInLeft {
  0% {
    transform: translate3d(250px, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(250px, 0, 0);
    visibility: hidden;
  }
}

// Animated Gradient
@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
