body {
  margin: 0 auto;
}

.main {
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  text-align: center;

  &-inner {
    padding: 50px 4%;
  }

  &-alt {
    background: $color-primary;
  }

  &-heading {
    @include font-size(48);
    color: $black;
    font-family: $font-primary-bold;
    padding: 0;
    margin: 0 auto 30px;
    text-align: center;
  }

  p {
    margin: 0 auto 20px;
    max-width: 600px;
    text-align: center;
  }

  .btn {
    width: 300px;
  }
}

@media only screen and (max-width: $break-xlg) {
  .section {
    &-inner {
      padding: 50px 5%;
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .section {
    .heading {
      @include font-size(32);
    }

    &-inner {
      padding: 60px 3%;
    }
  }
}

@media only screen and (max-width: $break-md) {
  .section {
    &-inner {
      padding: 60px 20px;
    }

    .heading {
      @include font-size(28);
      margin: 0 auto 20px;
    }
  }
}

@media only screen and (max-width: $break-sm) {
  .section {
    &-inner {
      padding: 60px 15px;
    }

    .heading {
      @include font-size(24);
    }
  }
}
