body {
  margin: 0 auto;
}

.main {
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  text-align: center;

  &-inner {
    padding: 50px 4% 60px;
  }

  &-alt {
    background: $color-primary;
  }

  &-heading {
    @include font-size(48);
    color: $black;
    font-family: $font-primary-bold;
    padding: 0;
    margin: 0 auto 45px;
    text-align: center;
  }

  p {
    margin: 0 auto 20px;
    max-width: 600px;
    text-align: center;
  }

  .btn {
    width: 300px;
  }
}

@media only screen and (max-width: $break-xlg) {
  .section {
    &-inner {
      padding: 50px 3% 60px;
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .section {
    &-heading {
      @include font-size(42);
    }

    &-inner {
      padding: 40px 3% 50px;
    }
  }
}

@media only screen and (max-width: $break-md) {
  .section {
    &-inner {
      padding: 40px 20px 50px;
    }

    &-heading {
      @include font-size(38);
      margin: 0 auto 35px;
    }
  }
}

@media only screen and (max-width: $break-sm) {
  .section {
    &-inner {
      padding: 40px 15px 50px;
    }

    &-heading {
      @include font-size(32);
    }
  }
}
