.footer {
  @include flexbox(flex);
  @include justify-content(space-between);
  background: $cc-3;
  padding: 20px;

  p {
    color: $white;
    margin: 0;
  }
}

@media only screen and (max-width: $break-md) {
  .footer {
    @include flexbox(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column-reverse);

    p {
      &:last-child {
        margin: 0 auto 5px;
      }
    }
  }
}
