.banner {
  @include flexbox(flex);
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-direction(row);
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &--top {
    background: transparent;

    .logo-img {
      display: block;
    }

    .logo-img-scroll {
      display: none;
    }
  }

  &--scroll {
    @include transition(all 1.5s ease);
    background: $white;
    border-bottom: 1px solid $color-secondary;
    position: fixed;

    .nav {
      &-list {
        .nav-link {
          color: $color-secondary;
          text-shadow: none;

          &:hover,
          &:focus,
          &:active {
            background: $cc-1;
            color: $white;
            z-index: 10;
          }

          &:after {
            bottom: 0;
            color: $white;
            content: "";
            height: 3px;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            right: 0;
          }

          &:hover:after {
            @include animation(fill 0.7s forwards);
            background: $color-primary;
            color: $white;
            opacity: 1;
            width: 100%;
            z-index: -1;
          }
        }

        .nav-cta {
          &:hover,
          &:focus,
          &:active {
            background: lighten($color-primary, 20%);
            color: $white !important;
            text-shadow: none;
          }
        }
      }
    }

    // Logo Swap
    .logo-img {
      display: none;
    }

    .logo-img-scroll {
      display: block;
    }
  }
}

.logo {
  &-main {
    @include font-size(10); //Height for Logo Adjustment
    margin: 0;
    width: 230px;
  }
}

.nav {
  &-toggle {
    padding: 0 !important;
    margin: 0 !important;
  }

  &-list {
    display: block;
    margin: 0 auto;
    padding: 0;
    z-index: 999999;
  }

  &-item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 0 18px 0 14px;
    position: relative;

    &-adj {
      padding: 0 0 0 14px;
    }

    &-cta {
      padding: 0 !important;

      &-adj {
        margin-left: 5px;
      }
    }
  }

  &-link {
    @include font-size(22);
    @include transition(all 1s);
    color: $white;
    display: block;
    font-family: $font-primary;
    height: 60px;
    padding: 15px 20px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 3px $black;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      background: $cc-1;
      color: $white;
    }

    &:after {
      bottom: 0;
      content: "";
      height: 3px;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      right: 0;
    }

    &:hover:after {
      @include animation(fill 0.7s forwards);
      background: $color-primary;
      opacity: 1;
      width: 100%;
      z-index: -10;
    }
  }

  &-cta {
    @include font-size(22);
    background: $color-primary;
    border-radius: 5px;
    border: 1px solid $white;
    color: $white !important;
    font-family: $font-primary;
    height: 60px;
    margin: 0;
    padding: 13px 32px 20px;

    &:hover,
    &:focus {
      background: $white;
      color: $color-primary !important;

      .nav-toggle {
        color: $white !important;
      }
    }

    &-adj {
      background: darken($color-primary, 5%);
    }
  }

  &-toggle {
    padding: 16px 16px 12px !important;
  }
}

@media only screen and (max-width: $break-xlg) {
  .banner {
    padding: 10px;
  }

  .nav {
    &-item {
      padding: 0;
    }

    &-link {
      padding: 15px 16px 10px;
    }

    &-cta {
      padding: 13px 24px 20px;
    }
  }
}

//Nav Variables
$brgr-border-width: 2px;
$brgr-bun-width: 25px;
$brgr-font-size: 22px;
$brgr-height: 55px;
$brgr-margin: 40px;
$brgr-bun-height: $brgr-border-width;
$brgr-text-pad: $brgr-margin;
$brgr-transition-speed: 0.5s;
$brgr-transition: all $brgr-transition-speed ease;

@media only screen and (max-width: 850px) {
  .banner {
    @include align-items(flex-start);

    &-inner {
      border-bottom: 2px solid transparent;
    }

    &.open {
      background: $color-secondary;
      height: 100vh;
    }

    &--scroll {
      &.open {
        background: $white;

        .nav-list {
          background: $white;

          .submenu {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid $color-secondary;
            display: block;
          }
        }
      }
    }
  }
  .nav {
    &-list {
      @include flex-direction(column);
      @include flexbox(flex);
      position: absolute;
      right: 0;
      top: 59px;
      width: 0;
      z-index: 10;

      &.open {
        background: $color-secondary;
        height: 90vh;
        min-width: 100%;
        overflow-y: scroll;
        visibility: visible;

        .nav-item {
          animation-duration: $brgr-transition-speed;
          animation-fill-mode: both;
          animation-name: slideInLeft;
        }
      }

      .submenu {
        display: block;
      }
    }

    &-item {
      color: $white;
      list-style-type: none;
      transform: translateX(-250px);

      &:first-child {
        padding-top: 10px;
      }

      &:not(.open) {
        animation-duration: $brgr-transition-speed;
        animation-fill-mode: both;
        animation-name: slideOutLeft;
      }

      &-cta {
        &-adj {
          margin-left: 0;
        }
      }
    }

    &-link {
      background: transparent;
      color: $white;
      font-size: $brgr-font-size;
      font-weight: 400;
      height: 80px;
      padding: 24px 30px 25px;
      text-decoration: none;
      width: auto;
    }

    &-cta {
      @include font-size(22);
      background: $color-primary;
      border-radius: 0;
      border: 1px solid $color-primary;
      display: block;
      height: 80px;
      padding: 24px 30px 25px !important;
      text-align: left;
      width: 100%;

      .nav-toggle {
        @include font-size(22);
        padding: 25px 25px 22px !important;
      }

      &-adj {
        background: darken($color-primary, 5%);
      }
    }

    &-menu {
      background: $white;
      border-radius: 50%;
      border: $color-primary solid $brgr-border-width;
      cursor: pointer;
      display: inline-block;
      height: $brgr-height;
      padding-left: 13px;
      padding-top: 15px;
      position: relative;
      transition: $brgr-transition;
      user-select: none;
      width: $brgr-height;
      z-index: 20;

      &:hover,
      &:active,
      &:focus {
        border: $color-primary solid $brgr-border-width;

        .nav-bun {
          background: $color-primary;
        }
      }
    }

    &-contain {
      height: $brgr-height;

      &.open {
        .nav-menu {
          border: $color-primary solid $brgr-border-width !important;
        }

        .nav-bun--top {
          background: $color-primary;
          top: 9px;
          transform: rotate(45deg);
        }

        .nav-bun--mid {
          opacity: 0;
        }

        .nav-bun--bot {
          background: $color-primary;
          top: 5px;
          transform: rotate(-45deg);
        }
      }
    }

    &-bun {
      background: $color-primary;
      position: relative;
      transition: $brgr-transition;

      &--top,
      &--mid,
      &--bot {
        height: $brgr-bun-height;
        width: $brgr-bun-width;
      }

      &--top {
        top: 0;
      }

      &--mid {
        top: 8px;
      }

      &--bot {
        top: 16px;
      }
    }
  }
}

@media only screen and (max-width: $break-md) {
  .logo {
    &-main {
      width: 160px;
    }
  }
}
