.nav {
  &-toggle {
    padding: 0 !important;
    margin: 0 !important;
  }

  &-list {
    display: block;
    margin: 0 auto;
    padding: 0;
    z-index: 999999;
  }

  &-item {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 16px 14px;

    &:hover,
    &:active,
    &:focus {
      background: rgba(77, 76, 89, 0.9);

      .nav-link-hv {
        color: $color-primary;
      }

      .dropdown-arrow {
        border-top: 6px solid $color-primary;
      }
    }

    &-cta {
      padding: 0 !important;

      &-adj {
        margin-left: 5px;
      }
    }
  }

  &-link {
    color: $white;
    display: inline;
    text-decoration: none;
    width: 100%;
  }

  &-item-alt,
  &-link-alt {
    &:hover {
      background: transparent !important;
    }
  }

  &-cta {
    @include font-size(16);
    @include transition(all 0.5s ease);
    color: $white !important;
    background: darken($color-primary, 10%);
    border-radius: 5px;
    border: 1px solid $white;
    font-family: $font-primary;
    padding: 16px 13px 13px;
    margin: 0;

    &:hover,
    &:focus {
      background: $white !important;
      color: $color-text !important;

      .nav-toggle {
        color: $white !important;
      }
    }

    &-adj {
      background: darken($color-primary, 5%);
    }
  }

  &-toggle {
    padding: 16px 16px 12px !important;
  }
}

.banner {
  @include flexbox(flex);
  @include align-items(flex-end);
  @include flex-direction(column);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &-inner {
    @include flexbox(flex);
    @include justify-content(space-between);
    padding: 3px 10px 0;
    border-bottom: 1px solid transparent;
    width: 100%;
  }

  &--top {
    background: transparent;

    .logo-img {
      display: block;
    }

    .logo-img-scroll {
      display: none;
    }
  }

  &--scroll {
    @include transition(all 1.5s ease);
    position: fixed;

    .banner-inner {
      background: $white;
      border-bottom: 1px solid $color-secondary;
    }

    .nav {
      &-list {
        .nav-link {
          color: $color-primary;

          &:hover,
          &:focus,
          &:active {
            background: $white;
            color: $color-primary;
          }
        }

        .submenu {
          display: none;
        }

        .submenu-item .nav-link {
          display: block;
          background: $white !important;
        }

        > .nav-item {
          &:hover,
          &:active,
          &:focus {
            background: $white;
          }
        }
      }
    }

    // Dropdown
    .dropdown-arrow {
      border-top: 6px solid $color-primary;
    }

    .dropdown:hover > .submenu {
      display: block;
    }

    // Logo Swap
    .logo-img {
      display: none;
    }

    .logo-img-scroll {
      display: block;
    }
  }
}

.logo {
  &-main {
    @include font-size(10); //Height for Logo Adjustment
    margin: 0;
    width: 200px;
  }
}

// Dropdown
.nav-list .submenu {
  display: none;
}

.dropdown:hover > .submenu {
  display: block;
}

.submenu {
  border: 1px solid $color-primary;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 16px auto 0;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 100%;
  z-index: 9;

  &-item {
    display: block;

    &:hover,
    &:active,
    &:focus {
      .nav-link {
        color: $color-primary;
      }
    }

    .nav-link {
      border-bottom: 1px solid $color-primary;
      display: block;
      background: rgba(77, 76, 89, 0.9);
      color: $white;
      padding: 18px 14px 13px;
    }

    .nav-link-adj {
      border-bottom: none !important;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.dropdown-arrow {
  position: relative;
  display: inline-block;
  content: "";
  right: -5px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid $white;
}

//Nav Variables
$brgr-height: 55px;
$brgr-border-width: 2px;
$brgr-margin: 40px;
$brgr-bun-width: 25px;
$brgr-bun-height: $brgr-border-width;
$brgr-font-size: 22px;
$brgr-text-pad: $brgr-margin;
$brgr-transition-speed: 0.5s;
$brgr-transition: all $brgr-transition-speed ease;

@media only screen and (max-width: 1100px) {
  .banner {
    @include align-items(flex-start);

    &-inner {
      border-bottom: 2px solid transparent;
    }

    &.open {
      background: $color-secondary;
      height: 100vh;
    }

    &--scroll {

      &.open {
        background: $white;

        .nav-list {
          background: $white;

          .submenu {
            display: block;
            border: 1px solid $color-secondary;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

      }
    }
  }
  .nav {
    &-list {
      @include flexbox(flex);
      @include flex-direction(column);
      position: absolute;
      right: 0;
      top: 59px;
      z-index: 10;
      width: 0;

      &.open {
        background: $color-secondary;
        height: 90vh;
        min-width: 100%;
        overflow-y: scroll;
        visibility: visible;

        .nav-item {
          animation-duration: $brgr-transition-speed;
          animation-fill-mode: both;
          animation-name: slideInLeft;
        }
      }

      .submenu {
        display: block;
      }
    }

    &-item {
      color: $white;
      list-style-type: none;
      padding: 12px 0;
      transform: translateX(-250px);

      &:first-child {
        padding-top: 30px;
      }

      &:not(.open) {
        animation-duration: $brgr-transition-speed;
        animation-fill-mode: both;
        animation-name: slideOutLeft;
      }

      &-cta {
        &-adj {
          margin-left: 0;
        }
      }
    }

    &-link {
      background: transparent;
      color: $white;
      font-size: $brgr-font-size;
      font-weight: 400;
      padding: 18px 25px 18px 25px;
      text-decoration: none;
      width: auto;

      &:hover,
      &--active {
        border-right: $color-primary solid 10px;
        padding-right: $brgr-text-pad;
      }
    }

    &-cta {
      @include font-size(22);
      background: $color-primary;
      border: 1px solid $color-primary;
      border-radius: 0;
      display: block;
      padding: 18px 25px 16px 25px !important;
      text-align: left;
      width: 100%;

      .nav-toggle {
        @include font-size(22);
        padding: 25px 25px 22px !important;
      }

      &-adj {
        background: darken($color-primary, 5%);
      }
    }

    &-menu {
      background: $color-primary;
      border: $white solid $brgr-border-width;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: $brgr-height;
      padding-left: 13px;
      padding-top: 15px;
      position: relative;
      transition: $brgr-transition;
      user-select: none;
      width: $brgr-height;
      z-index: 20;

      &:hover,
      &:active,
      &:focus {
        border: $color-primary solid $brgr-border-width;

        .nav-bun {
          background: $color-primary;
        }
      }
    }

    &-contain {
      height: $brgr-height;

      &.open {
        .nav-menu {
          border: $color-primary solid $brgr-border-width !important;
        }

        .nav-bun--top {
          background: $color-primary;
          top: 9px;
          transform: rotate(45deg);
        }

        .nav-bun--mid {
          opacity: 0;
        }

        .nav-bun--bot {
          background: $color-primary;
          top: 5px;
          transform: rotate(-45deg);
        }
      }
    }

    &-bun {
      background: rgba(255, 255, 255, 0.9);
      position: relative;
      transition: $brgr-transition;

      &--top,
      &--mid,
      &--bot {
        height: $brgr-bun-height;
        width: $brgr-bun-width;
      }

      &--top {
        top: 0;
      }

      &--mid {
        top: 8px;
      }

      &--bot {
        top: 16px;
      }
    }
  }

  .submenu {
    background: lighten($color-primary, 35%);
    position: relative;

    .nav-link {
      padding: 18px 20px 13px 60px;

    }

    .nav-link-adj {
      border-bottom: none !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

@media only screen and (max-width: $break-md) {
  .banner {
    padding: 0;
  }
}
