.benefits {
  .section-inner {
    padding: 55px 4% 5px;
  }

  &-contain {
    @include flexbox(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
  }

  &-icon {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    max-height: 270px;

    &-img {
      margin: 0 auto;
      width: 260px;

      &-trans {
        width: 266px;
      }
    }
  }

  &-element {
    margin: 0 auto 40px;
    padding: 0 20px 0;
    width: 33%;

    h3 {
      @include font-size(28);
      font-family: $font-primary-bold;
      margin: 20px 0 5px;
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .benefits {

    .section-inner {
      padding: 45px 3% 0;
    }

    &-element {
      padding: 0 10px 0;
      width: 50%;
    }
  }
}

@media only screen and (max-width: $break-md) {
  .benefits {
    &-element {
      padding: 0;
      width: 100%;
    }

    .section-inner {
      padding: 45px 20px 0;
    }
  }
}

@media only screen and (max-width: $break-sm) {
  .benefits {
    &-element {
      h3 {
        @include font-size(24);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .section-inner {
      padding: 45px 15px 30px;
    }
  }
}
