.problem {

  .section-inner {
  }

  .section-heading {
  }

  &-primer {
  }

  &-dataset {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    margin: 50px auto 0;

    &-element {
      margin: 20px;
      width: 33%;

      h3 {
        @include font-size(28);
        font-family: $font-primary-bold;
      }

      p {
      }
    }

    &-image {
      
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .problem {
    &-dataset {
      @include flex-direction(column);
  
      &-element {
        margin: 20px;
        width: 100%;
      }
    }
  }
}
