.problem {

  .section-inner {
  }

  .section-heading {
  }

  &-primer {
  }

  &-dataset {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    margin: 50px auto 0;

    &-first,
    &-second,
    &-third {
      @include flexbox(flex);
      @include flex-direction(row);
      margin: 50px auto;
      width: 100%;
    }

    &-second {
      @include flex-direction(row-reverse);
    }

    &-element {
      margin: 20px;
      width: 50%;

      h3 {
        @include font-size(28);
        font-family: $font-primary-bold;
      }

      p {
      }
    }

    &-image {
      background: linear-gradient(
        60deg,
        #ffffff,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
      animation: animatedgradient 8s ease infinite;
      background-size: 600% 600%;
      height: 200px;
      width: 50%;
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .problem {
    &-dataset {
      @include flex-direction(column);
  
      &-element {
        margin: 20px;
        width: 100%;
      }
    }
  }
}
