.problem {
  .section-inner {
  }

  .section-heading {
    animation: animatedgradient 10s ease infinite;
    background: linear-gradient(330deg, #c471ed 0%, #f64f59 100%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-primer {
  }

  &-dataset {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    margin: 30px auto 0;

    &-first,
    &-second,
    &-third {
      @include flexbox(flex);
      @include align-items(center);
      @include justify-content(center);
      @include flex-direction(row-reverse);
      margin: 30px auto;
      width: 100%;
    }

    &-second {
      @include flex-direction(row);
    }

    &-element {
      width: 55%;

      h3 {
        @include font-size(36);
        font-family: $font-primary-bold;
        margin: 0 auto 15px;
        animation: animatedgradient 10s ease infinite;
        background: linear-gradient(330deg, #f857a6 0%, #ff5858 100%);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        @include font-size(20);
      }
    }

    &-image {
      width: 45%;
    }

    &-icon {
      width: 360px;
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .problem {
    &-dataset {
      @include flex-direction(column);

      &-element {
        margin: 20px;
        width: 100%;
      }
    }
  }
}
