.benefits {

  .section-inner {
    padding: 80px 4% 30px;
  }

  &-contain {
    @include flexbox(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
  }

  &-icon {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    max-height: 270px;

    &-img {
      margin: 0 auto;
      width: 260px;

      &-inf {
        width: 270px;
      }
    }
  }

  &-element {
    margin: 0 auto 40px;
    padding: 0 20px 0;
    width: 30%;

    h3 {
      @include font-size(28);
      font-family: $font-primary-bold;
      margin: 10px 0 5px;
    }
  }
}
