.hero {
  @include align-items(flex-start);
  @include flexbox(flex);
  @include justify-content(flex-start);
  height: 110vh;
  overflow: hidden;
  position: relative;
  text-align: center;

  &-wrapper {
    @include gradient-linear-adj($cc-1, $cc-3);
    bottom: $offset;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -$offset;
    transform: skewY($skewDeg);
  }

  &-bg {
    background: url("../images/hero-lg.png") center center no-repeat;
    background-size: 83%;
    bottom: -$offset;
    left: 4%;
    position: absolute;
    right: 0;
    top: 5%;
    transform: skewY(-$skewDeg);
  }

  &-content {
    position: relative;
    margin-top: 90px;
    padding: 10px 0 0 50px;
    width: 100%;
  }

  &-tagline {
    @include font-size(76);
    -webkit-text-stroke: 2px $white;
    color: $cc-3;
    font-family: $font-primary-bold;
    text-align: left;
    text-shadow: 3px 3px 0 $black, -1px -1px 0 $black, 1px -1px 0 $black,
      -1px 1px 0 $black, 1px 1px 0 $black;

      &-1st {
        margin: 0 ;
      }

      &-2nd {
        margin: -1.5% 0 0;
      }

      &-3rd {
        margin: -1.7% 0 0;
      }
  }

  &-info {
    @include flexbox(flex);
    @include flex-direction(column);
    @include align-items(flex-end);
    @include justify-content(center);
    margin: 6% 4% 0 0;
  }

  &-subline {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    width: 420px;

    &-primer {
      @include font-size(22);
      color: lighten($color-text, 90%);
      margin: 0 10px 0 0;
      text-shadow: 1px 2px 3px $black;
    }

    &-info {
      @include font-size(26);
      color: $white;
      text-shadow: 1px 1px 1px #c60c30, 3px 3px 5px #003478;
      font-weight: bold;
      position: relative;
      margin: 0;
      text-align: center;
    }

    &-img {
      margin: 0 0 0 15px;
      width: 50px;
    }
  }

  &-btn {
    @include font-size(26);
    background: lighten($cc-1, 10%);
    border: 3px solid $black;
    border-radius: 50px;
    color: $white;
    text-shadow: 1px 2px 3px $black;
    padding: 16px 20px 20px;
    height: 80px;
    margin: 5px 0 5px;
    cursor: pointer;
    width: 420px;
  }
}

@media only screen and (max-width: $break-xlg) {
  .hero {
    &-tagline {
      @include font-size(96);
    }
  }
}

@media only screen and (max-width: $break-lg) {
  .hero {
    min-height: 480px;

    &-tagline {
      @include font-size(48);
      margin: 45px auto 50px;
    }

    a {
      @include font-size(32);
      margin-top: 80px;
    }

    &-alt {
      min-height: 280px;

      .hero-tagline {
        @include font-size(48);
        margin: 45px auto 15px;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .hero {
    min-height: 380px;

    &-tagline {
      @include font-size(42);
      margin: 60px auto 50px;
    }

    a {
      display: none;
    }

    &-alt {
      min-height: 240px;

      .hero-tagline {
        @include font-size(36);
        margin: 45px auto 15px;
      }
    }
  }
}

@media only screen and (max-width: $break-md) {
  .hero {
    min-height: 360px;

    &-tagline {
      @include font-size(34);
    }

    &-alt {
      min-height: 220px;

      .hero-tagline {
        @include font-size(36);
        margin: 45px auto 15px;
      }
    }
  }
}

@media only screen and (max-width: $break-sm) {
  .hero {
    min-height: 320px;

    &-tagline {
      @include font-size(30);
      margin: 80px auto 50px;
    }

    &-alt {
      min-height: 180px;

      .hero-tagline {
        @include font-size(28);
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .hero {
    min-height: 300px;

    &-tagline {
      @include font-size(29);
    }

    &-alt {
      min-height: 180px;

      .hero-tagline {
        @include font-size(28);
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    &-tagline {
      @include font-size(28);
    }
  }
}

@media only screen and (max-width: $break-xsm) {
  .hero {
    &-tagline {
      @include font-size(24);
    }
  }
}
