.problem {
  background: $cc-3;
  margin-top: -70px !important;

  .section-inner {
    padding: 120px 3% 100px;
  }

  .section-heading {
    color: $white;
  }

  &-primer {
    color: $white;
  }

  &-dataset {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    margin: 50px auto 0;

    &-element {
      margin: 20px;
      width: 33%;

      h3 {
        @include font-size(28);
        color: $white;
        font-family: $font-primary-bold;
      }

      p {
        color: $white;
      }
    }
  }
}
