.problem {

  .section-inner {
  }

  .section-heading {
  }

  &-primer {
  }

  &-dataset {
    @include flexbox(flex);
    @include align-items(center);
    @include justify-content(center);
    margin: 50px auto 0;

    &-element {
      margin: 20px;
      width: 33%;

      h3 {
        @include font-size(28);
        font-family: $font-primary-bold;
      }

      p {
      }
    }
  }
}
