.question {
  background: $cc-1;
  margin: 0 auto !important;

  .section {
    &-inner {
    }
  
    &-heading {
      color: $white;
      margin: 0 auto 20px;
    }
  }

  &-primer {
    @include font-size(24);
    color: $white;
  }

}
