.question {
  background: $cc-1;
  margin: 0 auto !important;

  .section {
    &-inner {
    }
  
    &-heading {
      color: $white;
      margin: 0 auto 20px;
    }
  }

  &-primer {
    @include font-size(24);
    color: $white;
    margin: 0 auto !important;

    a {
      color: $cc-3;
    }
  }
}

@media only screen and (max-width: $break-md) {
  .question {
    &-primer {
      @include font-size(20);
    }
  }
}

@media only screen and (max-width: $break-sm) {
  .question {
    &-primer {
      @include font-size(18);
    }
  }
}
